.transactionHistory {
    width: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border-collapse: collapse;
    margin: 30px auto;
}

.transactionHistory th {
    font-weight: bold;
    padding: 5px;
    background-color: rgb(255, 205, 224);
    border: 1px solid #dddddd;
}

.transactionHistory td {
    border: 1px solid #dddddd;
    padding: 5px;
}